.comments-table {
    border-collapse: collapse;
    width: 100%;
}

.comments-table td,
.comments-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.comments-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.comments-table tr:hover {
    background-color: #ddd;
}

.comments-table th {
    @apply bg-cyan-500;

    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}